<!DOCTYPE html>
<html>
  <head lang = 'en'>
    <title>Ze grand rss feed</title>
    <meta charset = 'utf-8'>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <style>
      * {
        font-family: "Handlee", serif;
        font-weight: 400;
        font-style: normal;

      }
      .title{margin:2%; padding-left:8%; font-size:2.5ch; line-height:3.6ch%;}
      img{/*margin-right:15px !important;*/ width: 0px; height: 0; object-fit: contain; float: left;}
      .description{text-align:justify; margin-left:10%}
      .entry{border: solid black; border-radius: 2px; padding-bottom: 1%; padding-left: 2%; padding-right: 5%; width: 50%; margin:auto; margin-bottom:1%; 
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        line-height:1.5em;
        border:solid;
      }
      .header{style: bold; font-size:10ch; text-align: center; margin-bottom:1.5%;}
    </style>
  </head>
  <body>
    <center>
      <h1 class="header">
        <a style="text-decoration: none;" href="/">F.A.I.L</a>
      </h1>
      <h1>Edit your rss feeds</h1>
      <ul id="rss-feeds">
      </ul>
      <input type="text" id="new-feed" placeholder="put rss link here">
      <button id="add-button">Add feed</button>
      <script>
        const rssList = document.getElementById("rss-feeds");
        const newFeed = document.getElementById("new-feed");
        const addButton = document.getElementById("add-button");

        const feedContainer = document.createElement("div");
        feedContainer.cssText = "float:left";
        list = {{feedList|tojson}};
        console.log(list.toString())

        function loadFeed(){
          //list = {{feedList}};
          for (var x = 0; x < list.length; x++) { 
            console.log(list[x]); 
            const listItem = document.createElement("li");
            //listItem.cssText = "display: inline-block;";

            const removeButton = document.createElement("button");
            console.log(removeButton);
            removeButton.innerText = "Remove";
            removeButton.cssText = "background:#ff0000; height:30px; width:20px; /*display: inline-block;*/";

            removeButton.addEventListener("click", function() {
              var index = list.indexOf(listItem.innerText);
              listItem.remove();
              removeButton.remove();
              list.splice(index,1);
              console.log(list);
              const response = fetch('/edit_feed', {
                headers: {"Content-Type": "text/json"},
                method: 'POST',
                body: JSON.stringify(list)
              })
            });

            listItem.innerHTML = `<a href="${list[x]}">${list[x]}</a>`;
            //rssList.appendChild(listItem);
            //rssList.appendChild(removeButton);

            feedContainer.appendChild(listItem);
            feedContainer.appendChild(removeButton);

            rssList.appendChild(feedContainer);

            newFeed.value = "";
          };
        }
        
        function addFeed(){
          const feedText = newFeed.value;
          const listItem = document.createElement("li");
          //listItem.cssText = "display: inline-block;";

          list.push(feedText);
          
          //const response = fetch("/edit_feed", {
          //  method: "POST",
          //  body: JSON.stringify(list),
          //});

          const response = fetch('/edit_feed', {
            headers: {"Content-Type": "text/json"},
            method: 'POST',
            body: JSON.stringify(list)
          })


          const removeButton = document.createElement("button");
          removeButton.innerText = "Remove";
          removeButton.cssText = "background:#ff0000; height:30px; width:20px; /*display: inline-block;*/";

          removeButton.addEventListener("click", function() {
            var index = list.indexOf(listItem.innerText);
            listItem.remove();
            removeButton.remove();
            list.splice(index,1);
            console.log(list);

            const response = fetch('/edit_feed', {
              headers: {"Content-Type": "text/json"},
              method: 'POST',
              body: JSON.stringify(list)
            })
          });

          listItem.innerText = feedText;
          //rssList.appendChild(listItem);
          //rssList.appendChild(removeButton);

          feedContainer.appendChild(listItem);
          feedContainer.appendChild(removeButton);

          rssList.appendChild(feedContainer);

          newFeed.value = "";
        }

        addButton.addEventListener("click", addFeed);

        loadFeed();

      </script>
      </center>
  </body>
</html>
